@CHARSET "UTF-8";
.search_form{border:#ccc solid 1px;margin-top:10px;padding:5px;}
.search_form .cellar_no_input{width:30px;text-align:center;}
.search_form .cellar_camera_input{width:200px;border:#aaa solid 1px;}
.search_form select{border:#aaa solid 1px;}
.cellar_list{width:100%;border:#ccc solid 1px;margin-bottom:10px;}
.cellar_list ul{list-style:none;padding:0;margin:0;}
.cellar_list li{display:inline-block;zoom:1;*display:inline;}
.cellar_list li{border:#ccc solid 1px;margin:5px 8px;cursor:pointer;text-align:center;position:relative;padding: 3px;/*width:105px;border-radius:5px;box-shadow:3px 3px #ccc;*/}
.cellar_list li.active{border:#333 solid 1px!important;box-shadow:2px 2px #333!important;}
.cellar_list li.submit{border:#800000 dashed 1px;box-shadow:2px 2px #800000;color:#800000;}
.cellar_list span.cellar_no{font-size:14px;display:block; line-height: 30px;}
.cellar_list span.cellar_stock{font-size:14px;display:block;}
.cellar_list span.cellar_del,.cellar_list span.cellar_del_submit{position:absolute;right:5px;top:3px;display:none;}
.cellar_list li.active span.cellar_del{/*display: block !important;*/}
.cellar_list li.active span.cellar_del_submit{display:block!important;}
.cellar_title{padding:5px;margin:1px;background:#CFD3FE;color:#222;font-weight:700;font-size:12px;}
#error_massage{border:#ccc solid 1px;margin-top:5px;padding:5px;font-size:12px;color:red;font-weight:700;}
.dialog_button{text-align: center;margin: 10px 0px;}