@charset "utf-8";

html {
	font-size: 100%;
}

html,body,img,p,ul {
	margin: 0; padding: 0; border: 0; font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
}

body {
	font-size: 1em;
}

body,input,select,textarea {
	color: #333;
}

a {
	color: #074f98; text-decoration: none;
}

.main {
	width: 99%;margin: auto;
}

.ht_top {
	width: 100%; background: #363636; height: 45px; border-bottom: 1px solid #bbb; overflow: hidden;
}

.ht_lTit {
	float: left; background: url(../../images/top/ht_logo.gif) no-repeat; padding-left: 45px; line-height: 24px; margin: 12px 0 0 15px; font-size: 18px; color: #fff; font-weight: normal; letter-spacing: 1px;
}

.ht_lTit2 {
	padding-left: 5px; line-height: 45px; font-size: 18px; color: #fff; font-weight: normal; letter-spacing: 1px; text-align: center;
}

.ht_lMenu {
	display: none;
}

.ht_rczuo {
	float: right; margin: 0; padding: 0 10px 0 0;
}

.ht_rczuo li {
	float: left; list-style: none; margin-right: 10px; display: inline;
}

.ht_warp {
	width: 100%;
}

.bottom_style {
	text-align: right; line-height: 24px; color: #FFF; padding-right: 10px; background-color: #363636;
}

.bottom_style a {
	color: #FFF;
}

.bottom_style a:hover {
	color: #E0E0E0;
}

.tab_warp {
	
}

.tab_warp table {
	width: 100%; border-collapse: collapse; border-spacing: 0;
}

.tab_warp td {
	text-align: center; padding: 8px 2px; font-size: 14px;
}

.tab_warp th {
	background: #059c77; color: #fff; font-size: 14px; padding: 8px 2px;
}

.odd {
	background: #eee;
}

.even {
	background: #f8fbfc;
}

.trhover {
	background: #ecfbd4;
}

.trbg {
	background: #fffbb7;
}

.td0 {
	display: none;
}
/*label*/
.label_con {
	float: right; width: 96%; font-size: 14px;
}

.label_main {
	float: left; width: 100%;
}

.label_hang {
	float: left; line-height: 32px; margin: 3px 0;
}

.label_ltit {
	float: left; width: 100px; text-align: right; padding-right: 2px; font-weight: bold;
}

.label_rwben {
	float: left; line-height: 30px;
}

.label_rwb {
	display: block; width: 175px;
}

.label_rwb2 {
	display: block; width: 452px;
}

.lb_text {
	border: 1px solid #ddd; height: 30px; line-height: 30px; padding: 0 5px; width: 160px;
}

.lb_text2 {
	border: 1px solid #ddd; height: 30px; line-height: 30px; padding: 0 5px; width: 500px;
}

.red {
	color: #f00;
}

.zhuangtai {
	float: left; background: #f1f1f1; border-radius: 5px; padding: 0 8px; margin-right: 5px;
}

.lb_detail {
	padding: 15px 0;
}

.lb_detail td {
	font-size: 14px; line-height: 30px;
}

.orange {
	color: #dd9e04;
}

.green {
	color: #008000;
}

.red {
	color: #f00;
}

.detail {
	cursor: pointer;
}

.lb_xxsm {
	border: 1px solid #ccc; margin: 5px 0;
}

.lb_yjtit {
	background: #f1f1f1; text-align: center; line-height: 30px; font-weight: bold; border-bottom: 1px solid #ccc;
}

.lb_gsfy {
	float: left; width: 50%;
}

.lb_lgsfy {
	float: left; border-right: 1px solid #ccc; width: 49.9%;
}

.clear {
	clear: both;
}

.lb_yjbot {
	background: #f1f1f1; text-align: center; line-height: 30px; font-weight: bold; color: #008000; border-top: 1px solid #ccc;
}

.lb_yjcon {
	padding: 10px;
}

.lb_gstit {
	border-bottom: 1px dashed #666; padding-bottom: 4px; font-weight: bold;
}

.lb_jwei {
	padding-top: 5px;
}

table {
	border-collapse: collapse;
}

.lb_jpin {
	margin: 10px 0;
}

.lb_jpin th {
	background: #059c77; color: #fff; padding: 6px 0; font-size: 14px;
}

.lb_jpin td {
	border: 1px solid #ccc; font-size: 12px; padding: 5px 0; text-align: center;
}

.lb_fasm {
	padding: 10px; line-height: 180%;
}

.lb_btns {
	float: left;
}

.lb_texta {
	float: left; width: 72%;
}

.lb_wby {
	border: 1px solid #ddd; height: 90px; overflow-y: auto; overflow-x: hidden; width: 98%; padding: 2px 5px;
}

.gray {
	color: #999;
}

.l_move {
	float: left; line-height: 40px;
}

.r_move {
	float: right; line-height: 40px;
}

.slider {
	position: relative; width: 100%; height: 500px; overflow: hidden;
}

.dq_step {
	font-size: 14px; padding: 10px 0;
}

.dl_msg {
	clear: both; text-align: center; font-size: 24px; padding: 50px 0; line-height: 180%; background-color: #EFEFEF;
}

.dl_msg a {
	color: #3c8df7; text-decoration: underline;
}

::-webkit-scrollbar {
	width: 11px; height: 14px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
	border-radius: 999px; border: 4px solid transparent;
}

::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
	min-height: 20px; background-clip: content-box; box-shadow: 0 0 0 5px #059C77 inset;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

@media screen and (min-width:320px) and (max-width:1200px) {
	.td5 {
		display: none;
	}
	.tab_warp .td0 {
		display: table-cell;
	}
	.lb_lgsfy {
		width: 49.89%;
	}
	.main {
		width: 100%;
	}
}

@media screen and (min-width:960px) and (max-width:1086px) {
	.lb_lgsfy {
		width: 49.79%;
	}
}

@media screen and (min-width:320px) and (max-width:960px) {
	.ht_lTit,.td4,.fy_hide {
		display: none;
	}
	.lb_gsfy {
		width: 100%;
	}
	.lb_lgsfy {
		width: 100%; border: 0; border-bottom: 1px solid #ccc;
	}
	.tab_warp {
		width: 100%;
	}
	.dq_step {
		padding: 10px;
	}
	.label_con {
		width: 100%; float: left;
	}
	.ht_lMenu {
		display: block; width: 36px; height: 36px; position: absolute; left: 15px; top: 3px; margin-top: 0px; padding-left: 0px; text-indent: -9999px; background-image: url(../../images/white/crate36x36.png); cursor: pointer;
	}
}

@media screen and (min-width:320px) and (max-width:768px) {
	.ht_lTit,.td3 {
		display: none;
	}
	.label_hang {
		clear: both;
	}
}

@media screen and (min-width:320px) and (max-width:655px) {
	.ht_lTit,.lb_text2 {
		width: 300px;
	}
	.zhuangtai {
		clear: both; margin-bottom: 5px;
	}
	.label_rwb2 {
		width: 180px;
	}
}

@media screen and (min-width:320px) and (max-width:550px) {
	.ht_lTit,.td2 {
		display: none;
	}
	.label_hang {
		clear: both;
	}
	.label_con {
		width: 440px;
	}
	.lb_text2 {
		width: 300px;
	}
	.zhuangtai {
		clear: both; margin-bottom: 5px;
	}
}

@media screen and (max-width:320px) {
	.main {
		width: 100%;
	}
	.ht_lTit,.td1,.td2,.td3,.td4,.td5,.fy_hide {
		display: none;
	}
	.tab_warp .td0 {
		display: table-cell;
	}
	.lb_gsfy {
		width: 100%;
	}
	.lb_lgsfy {
		width: 100%; border: 0; border-bottom: 1px solid #ccc;
	}
	.label_hang {
		clear: both;
	}
	.label_con {
		width: 440px;
	}
	.lb_text2 {
		width: 300px;
	}
	.zhuangtai {
		clear: both; margin-bottom: 5px;
	}
	.tab_warp {
		width: 100%;
	}
	.dq_step {
		padding: 10px;
	}
	.ht_lMenu {
		display: block; width: 36px; height: 36px; position: absolute; left: 15px; top: 3px; margin-top: 0px; padding-left: 0px; text-indent: -9999px; background-image: url(../../images/white/crate36x36.png); cursor: pointer;
	}
	.label_rwb2 {
		width: 180px;
	}
}