@charset "utf-8";

/* CSS Document */
#main {
margin: auto; padding: 2px;
}

#message {
color: #FF0000;
}

.imglink {
cursor: pointer;
}

.little_title {
text-align: left; text-indent: 12px; font-size: 12px; font-weight: bold; background-color: #FFF; color: #333; padding: 5px 0px;
}

/*iindex Start*/
.iindextitle {
font-size: 18px; font-weight: bold; text-align: center; margin-bottom: 15px;
}

.iindextitleinfo {
background-color: #DFDFDF; text-align: center; padding: 5px 0px; margin-bottom: 15px;
}

.iidexbox {
border: #86C2FF solid 1px; margin-bottom: 5px;
}

.iindextitle2 {
background-color: #E7E7E7; font-weight: bold; text-indent: 16px; padding: 4px 0px 2px 0px; border-bottom: #42A0FF solid 1px;
}

.iindexlist {
padding: 0px 0px 0px 25px; margin: 5px 0px; list-style-type: square;
}

.iindexlist li {
margin: 2px 0px;
}

.iindexlist a {
text-decoration: none; font-size: 12px; color: #000000;
}

.iindexlist a:hover {
text-decoration: underline; color: #FF0000;
}

/*新闻内容*/
.iindexContent {
border: #8B8B8B solid 1px; padding: 0 15px;
}

.iindexContent h1 {
text-align: center; font-size: 22px;
}

.iindexContent .shortContent {
border-bottom: #8B8B8B solid 1px; border-top: #8B8B8B solid 1px; padding: 5px 0; text-align: center;
}

.iindexContent .mainContent {

}
/*iindex End*/ /*ilist Start*/
.ilistsearch {
padding-bottom: 5px;
}

.ilisttable {
border-collapse: collapse; border-spacing: 0px;
}

.ilisttablex {

}

.ilisttablex td {
text-align: center;
}

.ilisttable th,.ilisttable tr,.ilisttable td {
border: #C1C1C1 solid 1px;
}

.ilisttable th {
background-color: #D1D1D1 !important;
}

.ilisttable th,.ilisttable .firstRow,.ilisttable .firstRowx,.ilisttable .firstRow3,.ilisttable .titleRow,.ilisttable .titleRowx,.ilisttable .title2 {
background-color: #F1F1F1; color: #333; white-space: nowrap; word-break: break-all; line-height: 25px;
}

.ilisttable th {
text-align: center; padding: 4px 0px;
}

.ilisttable .firstRow,.ilisttable .firstRowx,.ilisttable .firstRow3 {
text-align: right; padding: 2px 5px; font-weight: bold;
}

.ilisttable .firstRow {
width: 15%;
}

.ilisttable .firstRow3 {
width: 10%;
}

.ilisttable .titleRow,.ilisttable .titleRowx {
text-align: center; padding: 5px 0px; font-weight: bold;
}

.ilisttable .title2 {
font-size: 14px; text-indent: 14px; padding: 5px 0px; font-weight: bold;
}

.ilisttable td {
padding: 3px;
}

.ilisttable td.tablearea {
padding: 0px;
}

.ilisttable .showpagearea {
text-align: right;
}

.ilisttable .buttonarea {
text-align: center;
}

.ilisttable .buttonarea input {
padding: 1px 10px;
}

.ilisttable .oddStyle {
background-color: #F1F1F1;
}

.ilisttable .evenStyle {
background-color: #E1E1E1;
}

.ilisttable .focusStyle {
background-color: #D1D1D1 !important;
}

.ilisttable .secRow,.ilisttable .secRowx,.ilisttable .secRow3 {
text-align: left; word-break: break-all;
}

.ilisttable .secRow {
width: 35%;
}

.ilisttable-center {

}

.ilisttable-center td {
text-align: center;
}

/*ilist End*/
/*table mdy Start*/
.itablemdy {

}

.itableform {
border: #369 solid 1px;
}

.ifromoperate {

}
/*
.ifromoperate .tabpage {
padding: 0px; margin: 1px; background-color: #369; padding-left: 10px;
}

.ifromoperate .tabpage a {
display: inline-block; line-height: 25px; padding: 0px 15px; color: #FFF; text-decoration: none; border-right: #FFF solid 2px;
}

.ifromoperate .tabpage a:hover {
background-color: #FFF; color: #666;
}

.ifromoperate .tabpage a.activelink {
background-color: #FFF; color: #666; font-weight: bold; color: #666; font-weight: bold; border-right: #139 solid 2px;
}

.ilisttable-tab {
margin: 1px;
}
*/
.itablemdy .itabletitle {
border-bottom: #C1C1C1 solid 1px; font-weight: bold; text-indent: 24px; padding: 10px 0px; margin: 0; font-size: 14px; height: 18px;
margin-bottom: 1px;
}

.itabletitle span.title1 {
font-size: 14px; font-weight: bold; text-indent: 24px; float: left;
}

.itabletitle span.extra1 {
font-size: 12px; float: right; margin-right: 20px;
}

.itabletitle span.extra1 a {
color: #666; font-size: 12px; font-weight: 400; text-decoration: none; display: block; padding: 1px 5px 3px 8px; border: 1px solid #369;
border-right: 2px solid #369; border-bottom: 2px solid #369; background: #DDEEF2 url(../images/icon/icon_add.png) no-repeat 3px center;
}

/*inputsearch*/
.inputsearch {
background-image: url(../images/icon/inputSearch.gif); background-position: right; background-repeat: no-repeat;
}

.description_note {
color: #999;
}

.money_div {
padding: 4px; color: #333; border-radius: 4px; border: 1px solid #aaa; margin: 4px;
}

.oneditor {

}

.oneditor table {
border-collapse: collapse; border-spacing: 0px;
}

.oneditor table td {
text-align: center;
}

.oneditor table th,.oneditor table tr,.oneditor table td {
border: #E1E1E1 solid 1px;
}

@media print {
#main {
padding-top: 55px; background: url("../images/print/pageheader02.png") transparent no-repeat 0 0;
}
}